.wrap {
  margin: 3rem auto;
  max-width: 500px;
  text-align: center;
}

.group {
  margin-bottom: 1rem;

  input {
    width: 100%;
    padding: 8px;
  }
}

.btn {
  background: var(--primary);
  color: white;
  padding: 15px 50px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
}
